
<% if(userDetails.length !== 0){ %>

    <div class="user-detail detailDisc">
        <p class="line highlight"><%= userDetails[0].firstName.toUpperCase() %> <%= userDetails[0].lastName.toUpperCase() %> </p>

        <!-- Edit btn -->
        <input type="hidden" name="editId" value="<%= userDetails[0]._id %>">
        <button type="button" class="btn delbtn" onclick="personalDetailOldInput(this)" data-bs-toggle="modal" data-bs-target="#userDetailModal"><i class="fas fa-pen"></i></button>

        <p class="line" style="font-weight: 600;"><%= userDetails[0].email %></p>
        <p class="line"><%= userDetails[0].phoneNo %></p>
        <p class="line"><%= userDetails[0].address %></p>
    </div>

  <% } else{ %>  
    
    <div class="details_table row">
        <div class="col">
            <h4>PERSONAL DETAILS</h4>
        </div>
        <div class="col col-7">             
            <button type="button" class="btn button" data-bs-toggle="modal" data-bs-target="#userDetailModal" onclick="clearInput()">+ Add Personal Details</button>
        </div>
    </div>

<% } %>